<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.david.mytest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".test.wheeltest.WheelTestActivity"/>
        <activity android:name=".activity.mine.ActivityTestMyWidget"/>
        <activity android:name=".test.banner.BannerTestActivity"/>
        <activity android:name=".test.day_6_13.FiveNewViewActivity">

        </activity>
        <activity android:name=".activity.detail.DetailActivity" />
        <activity android:name=".test.decor_6_15.DecorTestActivity">

        </activity>
        <activity android:name=".test.snaphelpertest.SnapHelperTestActivity">

        </activity>
        <activity android:name=".test.pulltorefreshtest.PullRefreshTestActivity">

        </activity>
        <activity android:name=".test.pulltorefreshtest.PullListActivity"/>
        <activity android:name=".test.pulltorefreshtest.PullGridActivity"/>
        <activity android:name=".test.pulltorefreshtest.PullWebActivity"/>
        <activity android:name=".test.pulltorefreshtest.PullScrollActivity"/>
        <activity android:name=".test.pulltorefreshtest.PullRecyclerActivity"/>
        <activity android:name=".test.day_6_27_autolinetest.AutoLineTestActivity">

        </activity>
        <activity android:name=".test.dragrecyclerview.activity.DragRecyclerTestActivity">

        </activity>
        <activity android:name=".test.slidetest.SlideTestActivity">

        </activity>
        <activity android:name=".test.drawtest.DrawerTestActivity">

        </activity>
        <activity android:name=".test.tablayouttest.TabLayoutTestActivity">

        </activity>
        <activity android:name=".test.TestActivity">

        </activity>

        <activity android:name=".test.pathblog.PathTestActivity">

        </activity>
        <activity
            android:name=".activity.mine.SettingsActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity android:name=".activity.mine.PopupTestActivity" />
        <activity android:name=".activity.mine.DownLoadActivity" />
        <activity android:name=".activity.mine.AllCheckActivity" />
        <activity android:name=".activity.mine.newwidget.TestFragmentActivity" />
        <activity android:name=".activity.mine.SingleCheckActivity" />

        <service android:name=".service.UpdateService1" />
        <service android:name=".update.UpdateService" />
        <service
            android:name=".download.DownloadService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.mine.Android6NewWidget">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.mine.Android6NewWidget" />
        </activity>
        <activity android:name=".activity.mine.newwidget.TabLayoutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.mine.newwidget.TabLayoutActivity" />
        </activity>
        <activity android:name=".activity.mine.newwidget.NavigationViewActivity" />
        <activity android:name=".activity.mine.newwidget.CoordinatorLayoutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.mine.newwidget.CoordinatorLayoutActivity" />
        </activity>
        <activity android:name=".activity.mine.newwidget.AppBarLayoutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.mine.newwidget.AppBarLayoutActivity" />
        </activity>
        <activity android:name=".activity.mine.newwidget.CollapsingToolbarLayoutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.mine.newwidget.CollapsingToolbarLayoutActivity" />
        </activity>
        <activity android:name=".activity.mine.newwidget.TabLayoutViewPagerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.mine.newwidget.TabLayoutViewPagerActivity" />
        </activity>

        <activity android:name=".activity.mine.RxJavaTestActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.mine.RxJavaTestActivity" />
        </activity>
    </application>

</manifest>